.compare-items {
  position: fixed;
  bottom: 65px;
  right: 0;
  cursor: pointer;
  z-index: 9;
}

.inner-compare {
  display: flex;
}

.progress-container {
  position: absolute;
  right: 7px;
  top: 12px;
}
.progress-container svg circle {
  stroke: #fff;
}

.progress-icon {
  color: #ff4a55 !important;
  width: 18px !important;
  height: 18px !important;
}

.inner-compare span {
  color: white;
  font-size: 1rem;
}

.icon-container {
  position: relative;
  left: -8px;
  top: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  padding: 7px;
  border-radius: 100%;
  margin-right: 8px;
  background-color: #002e47;
}

.side-container {
  position: relative;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: 5rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.loadMoreButton button {
  border-radius: 10px;
  margin-top: unset;
  position: relative;
}

.providerContainer {
  margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {
  .compare-items {
    bottom: 0;
    margin: 3rem;
  }
}
