.root {
  background-color: #9c3f50;
  padding: 7rem 0;
  position: relative;
  overflow: hidden;
}

.title,
.text {
  position: relative;
  color: white;
  z-index: 7;
}

.textAlignCenter {
  text-align: center;
}

.max-width {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

/*.dark-square-right {*/
/*    position: absolute;*/
/*    display: inline-block;*/
/*    width: 0;*/
/*    height: 0;*/
/*    top: 0;*/
/*    right: 0;*/
/*    border-style: solid;*/
/*    border-width: 0 0 800px 500px;*/
/*    border-color: transparent transparent #002E47 transparent;*/

/*}*/

.icons-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icons-container span {
  color: white;
}

.icons-content {
  display: flex;
  justify-content: center;
  gap: 5rem;
  position: relative;
  top: 10px;
}

.dark-square-left {
  position: absolute;
  display: inline-block;
  top: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 650px 0 0 700px;
  border-color: transparent transparent transparent #002e47;
}

/*.red-square {*/
/*    position: absolute;*/
/*    z-index: 5;*/
/*    box-sizing: border-box;*/
/*    top: 100%;*/
/*    right: 0;*/
/*    border-top: solid 120px #FF4A55;*/
/*    border-left: solid 120px #FF4A55;*/
/*    border-top-left-radius: 40px;*/
/*    border-right: solid 120px transparent;*/
/*    border-bottom: solid 120px transparent;*/
/*    -ms-transform: rotate(45deg); !* IE 9 *!*/
/*    -webkit-transform: rotate(45deg); !* Chrome, Safari, Opera *!*/
/*    transform: rotate(45deg) translate(-280px, 110px)  ;*/
/*}*/

.red-square {
  position: absolute;
  z-index: 5;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 107px 0 107px;
  border-color: #ff4a55 transparent transparent transparent;
}

@media screen and (min-width: 768px) {
  .root {
    overflow: hidden;
  }
  .dark-square-right {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 0 0 400px 500px;
    border-color: transparent transparent #002e47 transparent;
  }

  .dark-square-left {
    position: absolute;
    display: inline-block;
    top: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 100% 0 0 300px;
    border-color: transparent transparent transparent #002e47;
  }

  .red-square-bottom {
    position: absolute;
    display: inline-block;
    width: 0;
    bottom: 0;
    right: 0;
    height: 0;
    border-style: solid;
    border-width: 200px 250px 200px 250px;
    border-color: transparent transparent #ff4a55 transparent;
  }

  .red-square {
    border-width: 100px 101px 0 110px;
  }
}
