.root {
  width: 100%;
  margin-bottom: 2rem;
}

.menu {
  width: 100%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-item {
  margin-bottom: 0;
}

.link {
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.31;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #12273A;
  transition: color 0.2s ease;
}

.link:hover {
  /*color: var(--color-accent-blue);*/
}

.link.is-active {
  /*color: var(--color-primary-blue);*/
  text-decoration: underline;
}

.icon-container {
  width: 20px;
  margin-right: 0.2rem;
  display: flex;
  justify-content: center;
}

.icon-container svg {
  color: #12273A;
}

.link:hover .icon-container svg {
  /*color: var(--color-accent-blue);*/
}

.link.is-active .icon-container svg {
  /*color: var(--color-primary-blue);*/
}

.text {
  display: block;
  margin-left: 0;
  margin-right: 1.5rem;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .root {
    margin-bottom: 0;
  }

  .menu {
    display: flex;
    flex-direction: column;
    overflow-x: unset;
  }

  .menu-item {
    margin-bottom: 1.8rem;
  }

  .menu-item:last-of-type {
    margin-bottom: 0;
  }

  .link.is-active {
    text-decoration: none;
  }

  .icon-container {
    margin-right: 0;
  }

  .text {
    display: block;
    margin-left: 0.75rem;
    margin-right: 0;
  }
}