.root {
    display: flex;
    flex-direction: column;
    /*min-height: 140px;*/
}

.progressInnerContainer {
    margin-bottom: 8px;
}

.progressInnerContainer progress {
    width: 100%;
    margin-top: -10px;
}

.progressInnerContainer progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 7px;
}

.progressInnerContainer progress[value]::-webkit-progress-value {
    background-color: #FBBC04;
    border-radius: 1rem;
}

.progressInnerContainer progress[value]::-webkit-progress-bar {
    background-color: var(--bg-focus);
    border-radius: 1rem;

}

.labelContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: -8px;
    font-weight: 500;
    font-size: 14px;
}

@media screen and (min-width: 801px) {
    .root {
        /*display: grid;*/
        /*grid-template-columns: repeat(3, 1fr);*/
        /*gap: 1rem;*/
        /*padding: 1rem;*/
    }
}