.root {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 4rem;
}

.title {
  text-align: center;
  margin: 5rem 0;
  font-size: 30px;
}

.item-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottom-txt span {
  display: block;
  text-align: center !important;
  font-size: 14px;
  line-height: 1.3rem;
}

.item-title {
  display: block;
  margin-bottom: 1rem;
  font-weight: 600;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .root {
    width: 90%;
    flex-direction: row;
    margin: 2rem auto;
    gap: 4rem;
  }
}
