.root {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.inner-root {
  width: 100%;
}

.heading {
  margin-bottom: 1rem;
  font-size: 16px;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
}

.input-container input,
.input-container textarea {
  border: 1px solid #d3d3d3;
  padding: 12px;
  background-color: #f6f6f6;
  border-radius: 8px;
  font-family: inherit;
}

.input-container textarea {
  resize: unset;
  height: 120px;
}

.input-container label {
  margin-bottom: 5px;
}

#name {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.full-flex {
  flex: 1;
}

.submit button {
  border-radius: 10px;
}

.error {
  font-size: 14px;
  color: red;
}

.error-on-fail {
  text-align: center;
  color: red;
}

@media screen and (min-width: 768px) {
  .inner-root {
    padding: 0 78px;
    width: 70%;
    margin: 0 auto;
  }
}
