.root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.root h1 {
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  margin: 2rem 0;
}


.logo-container {
  flex-grow: 1;
  cursor: pointer;
}

.logo-container img {
  width: 50px;
  height: 50px;
}
.list-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.list-item {
  border-bottom: 3px solid transparent;

}

 .item {
   cursor: pointer;
   color: #64666A;
   font-weight: 600;
   font-size: 12px;
   white-space: nowrap;

 }


.activeClass {
  border-bottom: 3px solid var(--color-accent-red);
}

.test {
  width: 100% !important;
}

.activeClassText {
  font-weight: 700;
  color: var(--color-accent-red);
}

@media screen and (min-width: 768px) {
  .root h1 {
    font-size: 55px;
    font-weight: 500;
  }
  .heading {
    display: flex;
    align-items: center;
    flex: 1;
  }

}

