.inner-container {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
    gap: 1.5rem;

}

.initialPOSTS {
    margin-bottom: 4rem;
}

.preloaded-post {
    margin-top: 5rem !important;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
}


.inner-btn-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 0.6;

}

.btn button {
    margin: 0;
    background-color: white;
    color: #002E47;
    border: 1px solid #002E47;
    border-radius: 10px;
}

.btn button:hover{
    background-color: #f8f8f8;
}

.all-articles {
    display: flex;
    align-items: center;
}

.all-articles-inner {
    display: flex;
    align-items: center;
}

.all-articles-inner svg {
    position: relative;
    top: 1px;
    margin-left: 8px;
    font-size: 12px;
    cursor: pointer;
}

.other-services-bar {
    margin: 2rem 0;
}

.other-service-bar-inner {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: .5rem;
}

.choose-other-service {
    font-weight: 600;
}

.other-service-bar-inner a {
    font-weight: 500;
}


@media screen and (min-width: 768px) {
    .inner-container {
        position: relative;
        top: -60px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        row-gap: 1rem;
        margin: 4rem 0;

    }
    .other-service-bar-inner {
        flex-direction: row;
        align-items: center;
    }
    .link {
        font-size: 14px;
        white-space: nowrap;
   }

    .other-services-bar {
        margin-top: 2rem;
    }

    .other-service-bar-inner {
        margin-top: 1rem;
        position: relative;
        left: -35px;

    }

    .btn-container {
        align-items: center;
        flex-direction: row;
    }


}

@media (min-width:600px) and (max-width:1024px) {
    .other-service-bar-inner {
        display: grid;
        row-gap: 1rem;
        margin-left: 1.7rem;
        grid-template-columns: repeat(4, 1fr);
    }
}