.cta-footer {
  padding: 0.6rem 4rem 0.6rem 4rem;
  justify-content: center;
  align-items: center;
  position: sticky;
  bottom: -100px;
  left: 0;
  right: 0;
  display: flex;
  overflow: hidden;
  background: #fff;
  appearance: none;
  transition: all 0.2s ease-in-out;
}

.cta-footer a {
  margin-top: 0 !important;
  border-radius: 12px;
}

.cta-footer.show {
  bottom: 0;
}

.cta-button-container {
  max-width: 200px;
  width: 100%;
  margin: 0 auto;
  appearance: none;
}
