.root {
  cursor: pointer;
}

.noHeading {
  margin-top: 4rem;
}

.title {
  text-align: center;
  margin: 5rem 0;
  font-size: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.header span {
  font-weight: 600;
}

.item-root:first-of-type {
  border-top: 1px solid #d2d4d5;
}

.item-root {
  border-bottom: 1px solid #d2d4d5;
}
