.root {
    display: flex;
}
.inner-root {
    padding: 2rem;
    background: white;
    border-radius: 1rem;
    width: 100%;
    position: relative;
    z-index: 9;
    flex: 1;
}

.header {
    flex-grow: 1;
}

.btn-container a{
    border-radius: 10px;
    margin: 0;
    white-space: nowrap;

}

.btn-container a:first-of-type{
 margin-right: 1rem;

}

.btn-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;

}

.white-bg a{
    background: white;
    color: #002E47;
    border: 1px solid var(--color-accent-red);
}

.white-bg a:hover{
    color: white;
    background: var(--color-primary-red);

}

@media screen and (min-width: 768px) {
    .inner-root {
        flex: 0.5;

    }

    .btn-container {
        flex-direction: row;
        align-items: center;
    }


}
