.title {
  margin-top: 0;
}

.subtitle {
  margin-bottom: 0;
}

.row {
  display: flex;
  flex-direction: column;
}

.root input, .root select {
  border: none;
  -webkit-appearance: none;
  padding: 0.8rem;
  font-size: 16px;
  color: var(--color-text);
  border-radius: 0.5rem;
  box-shadow: 0px 0px 2px 1px #d4ebfd;
}

.root input::placeholder {
  color: #6b89a5;
}

.root select {
  width: 100%;
  background-color: #fff;
  color: var(--color-text);
}

.root label {
  margin: 0.25rem 0;
  font-size: 14px;
  font-weight: 600;
}

.button-container {
  margin: 0.5rem 0 0;
}

@media screen and (min-width: 768px) {
  .subtitle {
    margin-bottom: 0;
  }
  .row {
    padding-top: 0.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }
  .root label {
    margin: 0.5rem 0 0.25rem;
  }
  .button-container {
    margin: 0;
    padding-bottom: 0.15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}