.root {
  display: none;
  margin-top: 2.5rem;
  padding-bottom: 4.2rem;
}

.breadcrumb {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.item {
  font-size: 12px;
  line-height: 16px;
  color: #7e7e7e !important;
}

.item:not(.active):after {
  content: '>';
  display: inline-block;
  margin: 0 8px;
}

.link:hover {
  text-decoration: underline;
  color: var(--color-text);
}

.active {
  color: #313131 !important;
}

.icon-container svg:first-of-type {
  margin-right: 6px;
}

@media screen and (min-width: 768px) {
  .root {
    display: block;
    margin-bottom: unset;
  }
}
