.root {
  margin: 0 0 2rem 0;
  padding: 1.5rem 1rem 1rem 1rem;
  border-radius: 12px;
  background-color: #F6F6F6;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: var(--color-title);
  text-align: center;
}

.category {
  white-space: nowrap;
}

.icon-clock {
  margin-right: 4px;
}


.text {
  margin: 1.5rem 0;
  padding: 0.75rem 1.5rem;
  font-size: 14px;
  font-weight: 600;
  color: white;
  border-radius: var(--border-radius);
  background-color: #668190;
  text-align: center;
}

.list {
  list-style-type: none;
}

.list-item {
  margin: 1rem 0;
  display: flex;
  align-items: center;
}

.list-item .icon-container {
  background-color: #668190;
  border-radius: 50%;

}

.cta-btn a{
  border-radius: 12px;
  background-color: #FF4A55;
}


.list-item .icon {
  width: 20px;
  height: 16px;
  color: white;
  /*color: var(--color-primary-blue);*/
}

.list-item span {
  margin-left: 0.75rem;
  text-align: left;
  white-space: nowrap;
}

.disclaimer {
  margin: 0.75rem 0 0 0;
  font-size: 14px;
  text-align: center;
}

.disclaimer i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {}