.root {
  margin: 0 0 2rem 0;
  padding: 1.6rem 1rem 1.6rem 1rem;
  border-radius: 12px;
  background-color: #FFEFF0;
  border: 1px solid #FF4A55;
}

.title {
  font-size: 18px;
  line-height:1.7rem !important;
  font-weight: 600 !important;
  color: var(--color-title);
  font-family: var(--text-font);
  text-align: center;
  margin-bottom: 1rem;
}


.icon-clock {
  margin-right: 4px;
}


.text {
  padding: 0.3rem 1.5rem;
  font-size: 12px !important;
  font-weight: 600;
  color: white;
  border-radius: var(--border-radius);
  background-color: #668190;
  text-align: center;
  white-space: nowrap;
}

.list {
  list-style-type: none;
}

.list-item {
  margin: .6rem 0;
  display: flex;
  align-items: center;
}


.list-item .icon-container {
  background-color: #FF4A55;
  border-radius: 50%;
}



.cta-btn a{
  border-radius: 12px;
  background-color: #FF4A55;
  font-size: 14px;
  margin-top: 7px;
}


.list-item .icon {
  width: 20px;
  height: 16px;
  color: white;
  /*color: var(--color-primary-blue);*/
}

.list-item span {
  margin-left: 0.75rem;
  text-align: left;
  white-space: nowrap;
  font-size: 14px;
}

.disclaimer {
  margin: 0.75rem 0 0 0;
  font-size: 14px;
  text-align: center;
}

.disclaimer i {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {}