.root {
    display: flex;
    flex-direction: column;
    border-right: 1px solid #D3D4D5;
    padding: 1rem;
}


.root:nth-of-type(4n) {
    border-right: 1px solid white;
}

.root:last-of-type {
    /*border-right: unset;*/
}
.name {
    font-size: 20px;
    font-weight: 700;
    display: block;
    margin: 1rem 0;
}

.image-container {
    display: flex;
    align-items: center;
}

.btn a {
    border-radius: 10px;
    margin: 0;
}

.provider-rating {
    display: flex;
    flex-direction: column;
}
.focus-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 1rem 0;
}

.transparent button {
    background-color: transparent;
    box-shadow: unset;
    margin-top: 0;
}

.transparent button:hover {
    background-color: unset;
    box-shadow: unset;
     cursor: unset;
}

.focus-box {
    background-color: #ECECEC;
    border-radius: 8px;
    padding: 4px;
}

.first-section {
    /*flex-grow: 1;*/

}

.middle-section {
    /*flex-grow: 1;*/


}

.last-section {
    /*border: 1px solid red;*/
    flex-grow: 1;
}
