.root {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid #d3d4d5;
}

.close {
  display: block;
  text-align: right;
}

.root {
  border-right: unset;
  border-left: unset;
  border-top: unset;
}

.name {
  font-size: 20px;
  font-weight: 700;
  display: block;
  margin: 1rem 0;
}

.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.isMobile {
  gap: 1.4rem;
}

.btn {
  margin: 1.5rem 0 1rem 0;
}

.btn a {
  border-radius: 10px;
  margin: 0;
}

.provider-rating {
  display: flex;
  flex-direction: column;
}
.focus-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0.5rem 0;
}

.transparent button {
  background-color: transparent;
  box-shadow: unset;
  margin-top: 0;
}

.transparent button:hover {
  background-color: unset;
  box-shadow: unset;
  cursor: unset;
}
.focus-labelStyles {
  font-weight: 500 !important;
  font-size: 14px;
}
.focus-box {
  padding: 6px;
  display: flex;
  align-items: center;
  background-color: var(--bg-focus);
  border-radius: 8px;
}

.focus-name {
  font-size: 12px;
}

.last-section {
  flex-grow: 1;
}

.footer-desc {
  display: flex;
  /*margin-top: 1rem;*/
}

.icon {
  cursor: pointer;
}

.icon-outer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.icon-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.icon-container svg {
  font-size: 14px;
}

.icon-container p {
  color: #7e7e7e;
}

.middle-section p {
  color: var(--color-text);
}

@media screen and (min-width: 768px) {
  .root {
    border-right: 1px solid #d3d4d5;
  }

  .root:nth-of-type(3n) {
    border-right: 1px solid white;
  }
  .icon-outer {
    justify-content: flex-start;
    gap: 17px;
    max-width: 100%;
  }
}

@media screen and (min-width: 1920px) {
  .icon-outer {
    gap: 32px;
    max-width: 90%;
  }
  .root:nth-of-type(3n) {
    border-right: 1px solid #d3d4d5;
  }
  .root:nth-of-type(4n) {
    border-right: 1px solid white;
  }
}
