.root {
  margin: 0 auto 0;
  padding-top: 1rem;
}

.side-container {
  position: relative;
}

.inner-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: 7rem;
}

.wyswig-no-margin-top {
  margin-top: 0 !important;
}

@media screen and (min-width: 768px) {
  .root {
    margin: 0 auto 0;
    padding-top: 2rem;
  }
  .split-view {
    display: grid;
    /*grid-template-columns: repeat(3, 1fr);*/
    grid-template-columns: 75% 25%;
    column-gap: 1rem;
  }
.isCompareArticle {
  grid-template-columns: 75% 25% !important;

}
}