.root {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  font-weight: 600;
  padding-top: 2rem !important;
}

.date {
  font-size: 14px;
}

.date-icon {
  width: 14px;
  height: 14px;
}

.separator {
  padding: 0 12px;
  font-size: 14px;
}
.meta-info {
  display: flex;
  align-items: center;
  margin: .7rem 0 1rem;
}

.meta-container {
  display: flex;
  align-items: center;
}


.meta-info img {
  width: 30px ;
  height: 30px;
  border-radius: 100px;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .root {
    margin: 0;
  }

  .fullwidth {
    width: unset;
  }

  .title {
    font-size: 32px;
    padding-top: unset !important;

  }
}