.root {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  font-weight: 600;
}

.date {
  margin: 1rem 0 1.5rem;
  font-size: 14px;
}

.date-icon {
  width: 14px;
  height: 14px;
}

.date span {
  margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
  .root {
    margin: 0;
    width: 657px;
  }

  .fullwidth {
    width: unset;
  }

  .title {
    font-size: 32px;
  }
}