<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="color-scheme" content="light dark" />
    <meta name="supported-color-schemes" content="light dark" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Byråguiden.no</title>
    <style type="text/css">
      * {
        margin: 0px;
        box-sizing: border-box;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
          'Helvetica Neue', sans-serif;
      }
      body {
        margin: 0px;
        padding: 0;
      }
      table {
        border-spacing: 0;
      }
      td {
        padding: 0;
      }
      img {
        border: 0;
      }
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td {
        line-height: 100%;
      }
      .ExternalClass {
        width: 100%;
      }
      #outlook a {
        padding: 0;
      }
      a[x-apple-data-detectors] {
        color: inherit !important;
        text-decoration: none !important;
        font-size: inherit !important;
        font-family: inherit !important;
        font-weight: inherit !important;
        line-height: inherit !important;
      }
      .title,
      .date {
        color: #ffffff !important;
      }
      [data-ogsb] .es-button {
        border-width: 0 !important;
        padding: 10px 20px 10px 20px !important;
      }
      [data-ogsb] .es-button.es-button-1 {
        padding: 0px !important;
      }
      [data-ogsc] .title {
        color: #ffffff !important;
      }
      [data-ogsc] .date {
        color: #ffffff !important;
      }
      @media (prefers-color-scheme: dark) {
        .title,
        .date {
          color: #ffffff !important;
        }
      }
    </style>
  </head>
  <body
    style="
      width: 100%;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
        'Helvetica Neue', sans-serif;
      -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
      padding: 0;
      margin: 0px;
      background-color: #f6f9fc;
    "
  >
    <table
      style="
        width: 100%;
        table-layout: fixed !important;
        background-color: #f6f9fc;
        padding-top: 24px;
        padding-bottom: 24px;
      "
    >
      <tr>
        <td>
          <table
            align="center"
            style="
              width: 100%;
              max-width: 600px;
              margin: 0 auto;
              border-spacing: 0;
              color: #3b3b3b !important;
              background-color: #f6f9fc;
            "
          >
            <tr>
              <td>
                <table
                  class="outer"
                  align="center"
                  style="
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto;
                    border-spacing: 0;
                    color: #3b3b3b !important;
                    background-color: #f6f9fc;
                  "
                >
                  <tr>
                    <td>
                      <table style="border-spacing: 0; width: 100%; background-color: #f6f9fc">
                        <tr>
                          <td style="padding-top: 12px; padding-bottom: 12px"></td>
                        </tr>
                      </table>
                      <table
                        align="center"
                        style="
                          border-spacing: 0;
                          width: 100%;
                          background-color: #fe405c;
                          text-align: center;
                          border-top-left-radius: 10px;
                          border-top-right-radius: 10px;
                          border-bottom-left-radius: 10px;
                          border-bottom-right-radius: 10px;
                        "
                      >
                        <tr>
                          <td style="padding-top: 24px; padding-bottom: 0px; padding-right: 20px; padding-left: 20px">
                            <a target="_blank" href="https://byråguiden.no"
                              ><img
                                src="https://wp.xn--byrguiden-72a.no/wp-content/uploads/2022/10/logo.svg"
                                alt="Lead Service AS"
                                title="Byråguiden.no"
                                width="250"
                                height="51"
                            /></a>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 20px; padding-bottom: 16px; padding-right: 20px; padding-left: 20px">
                            <h1
                              class="title"
                              style="
                                margin: 0px;
                                line-height: 34px;
                                font-size: 28px;
                                font-weight: 600;
                                color: #ffffff !important;
                              "
                            >
                              Ny lead fra Byråguiden
                            </h1>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 0px; padding-bottom: 32px; padding-right: 20px; padding-left: 20px">
                            <p
                              class="date"
                              style="
                                margin: 0px;
                                line-height: 120%;
                                font-size: 15px;
                                font-weight: 600;
                                color: #ffffff !important;
                              "
                            >
                              {{103597709__data__dateStamp}}
                            </p>
                          </td>
                        </tr>
                      </table>
                      <table style="border-spacing: 0; width: 100%; background-color: #f6f9fc">
                        <tr>
                          <td style="padding-top: 12px; padding-bottom: 12px"></td>
                        </tr>
                      </table>
                      <table
                        align="left"
                        style="
                          border-spacing: 0;
                          width: 100%;
                          background-color: #ffffff;
                          text-align: left;
                          border-top-left-radius: 10px;
                          border-top-right-radius: 10px;
                          border-bottom-left-radius: 10px;
                          border-bottom-right-radius: 10px;
                        "
                      >
                        <tr>
                          <td
                            style="
                              width: 30px;
                              margin: 0px;
                              padding-top: 20px;
                              padding-bottom: 20px;
                              padding-right: 16px;
                              padding-left: 16px;
                            "
                          >
                            <img
                              width="25"
                              height="25"
                              alt="Objekt"
                              title="Objekt"
                              src="https://wp.leadservice.no/wp-content/uploads/2022/05/stack.png"
                            />
                          </td>
                          <td
                            style="
                              max-width: 520px;
                              padding-top: 20px;
                              padding-right: 20px;
                              padding-bottom: 20px;
                              padding-left: 0px;
                            "
                          >
                            <p style="margin: 0px; font-size: 18px">{{103597709__data__advokat_type}}</p>
                          </td>
                        </tr>
                      </table>
                      <table style="border-spacing: 0; width: 100%; background-color: #f6f9fc">
                        <tr>
                          <td style="padding-top: 12px; padding-bottom: 12px"></td>
                        </tr>
                      </table>
                      <table
                        align="left"
                        style="
                          border-spacing: 0;
                          width: 100%;
                          background-color: #ffffff;
                          text-align: left;
                          border-top-left-radius: 10px;
                          border-top-right-radius: 10px;
                          border-bottom-left-radius: 10px;
                          border-bottom-right-radius: 10px;
                        "
                      >
                        <tr>
                          <td
                            style="
                              width: 30px;
                              margin: 0px;
                              padding-top: 24px;
                              padding-bottom: 16px;
                              padding-left: 20px;
                              padding-right: 20px;
                            "
                          >
                            <img
                              width="18"
                              height="20"
                              alt="Navn"
                              title="Navn"
                              src="https://wp.leadservice.no/wp-content/uploads/2022/05/user-light.png"
                            />
                          </td>
                          <td
                            style="
                              max-width: 520px;
                              padding-top: 24px;
                              padding-bottom: 16px;
                              padding-right: 20px;
                              padding-left: 0px;
                            "
                          >
                            <p style="margin: 0px; font-size: 16px">{{103597709__data__name}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 30px;
                              margin: 0px;
                              padding-top: 16px;
                              padding-bottom: 16px;
                              padding-left: 20px;
                              padding-right: 20px;
                            "
                          >
                            <img
                              width="20"
                              height="20"
                              alt="Telefon"
                              title="Telefon"
                              src="https://wp.leadservice.no/wp-content/uploads/2022/05/square-phone-light.png"
                            />
                          </td>
                          <td
                            style="
                              max-width: 520px;
                              padding-top: 16px;
                              padding-bottom: 16px;
                              padding-right: 20px;
                              padding-left: 0px;
                            "
                          >
                            <p style="margin: 0px; font-size: 16px">{{103597709__data__phone}}</p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 30px;
                              margin: 0px;
                              padding-top: 16px;
                              padding-bottom: 16px;
                              padding-left: 20px;
                              padding-right: 20px;
                            "
                          >
                            <img
                              width="20"
                              height="16"
                              alt="E-post"
                              title="E-post"
                              src="https://wp.leadservice.no/wp-content/uploads/2022/05/envelope-light.png"
                            />
                          </td>
                          <td style="max-width: 520px">
                            <p
                              style="
                                margin: 0px;
                                padding-top: 16px;
                                padding-bottom: 16px;
                                padding-right: 20px;
                                padding-left: 0px;
                                font-size: 16px;
                              "
                            >
                              {{103597709__data__email}}
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 30px;
                              margin: 0px;
                              padding-top: 16px;
                              padding-bottom: 16px;
                              padding-left: 20px;
                              padding-right: 20px;
                            "
                          >
                            <img
                              width="18"
                              height="24"
                              alt="Adresse"
                              title="Adresse"
                              src="https://wp.leadservice.no/wp-content/uploads/2022/05/location-dot-light.png"
                            />
                          </td>
                          <td style="max-width: 520px">
                            <p
                              style="
                                margin: 0px;
                                padding-top: 16px;
                                padding-bottom: 16px;
                                padding-right: 20px;
                                padding-left: 0px;
                                font-size: 16px;
                              "
                            >
                              {{103597709__data__state}}
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="
                              width: 30px;
                              margin: 0px;
                              padding-top: 16px;
                              padding-bottom: 24px;
                              padding-left: 20px;
                              padding-right: 20px;
                            "
                          >
                            <img
                              width="20"
                              height="18"
                              alt="Melding"
                              title="Melding"
                              src="https://wp.leadservice.no/wp-content/uploads/2022/05/message-light.png"
                            />
                          </td>
                          <td style="max-width: 520px">
                            <p
                              style="
                                margin: 0px;
                                padding-top: 16px;
                                padding-bottom: 24px;
                                padding-right: 20px;
                                padding-left: 0px;
                                font-size: 16px;
                              "
                            >
                              {{103597709__data__description}}
                            </p>
                          </td>
                        </tr>
                      </table>
                      <table style="border-spacing: 0; width: 100%; background-color: #f6f9fc">
                        <tr>
                          <td style="padding-top: 12px; padding-bottom: 12px"></td>
                        </tr>
                      </table>
                      <table
                        align="left"
                        style="
                          border-spacing: 0;
                          width: 100%;
                          background-color: #ffffff;
                          text-align: left;
                          border-top-left-radius: 10px;
                          border-top-right-radius: 10px;
                          border-bottom-left-radius: 10px;
                          border-bottom-right-radius: 10px;
                        "
                      >
                        <tr>
                          <td
                            colspan="2"
                            style="padding-top: 28px; padding-bottom: 0px; padding-left: 24px; padding-right: 24px"
                          >
                            <h3 style="margin: 0px; font-size: 16px; font-weight: 600; color: #3b3b3b">
                              Vi setter stort pris på vårt samarbeid!
                            </h3>
                            <p
                              style="margin: 0px; padding-top: 8px; line-height: 24px; color: #3b3b3b; font-size: 16px"
                            >
                              Om det skulle dukke opp uforutsette hendelser ber vi dere ta kontakt med oss via deres
                              kundebehandler.
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td style="padding-top: 24px; padding-bottom: 24px; padding-left: 24px; padding-right: 24px">
                            <p style="margin: 0px; color: #3b3b3b; font-size: 16px; font-weight: 600">
                              Med vennlig hilsen
                            </p>
                            <p style="margin: 0px; color: #3b3b3b; font-size: 16px">Lead Service</p>
                          </td>
                          <td
                            align="right"
                            style="padding-top: 24px; padding-bottom: 24px; padding-left: 24px; padding-right: 24px"
                          >
                            <a target="_blank" href="https://byråguiden.no">
                              <img
                                width="180"
                                height="50"
                                alt="Lead Service AS"
                                src="https://wp.xn--byrguiden-72a.no/wp-content/uploads/2022/10/logo.svg"
                            /></a>
                          </td>
                        </tr>
                      </table>
                      <table style="border-spacing: 0; width: 100%; background-color: #f6f9fc">
                        <tr>
                          <td style="padding-top: 12px; padding-bottom: 12px"></td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
