.footer {
  padding: 1rem 0 2rem;
  background-color: #F4F7FC;
}

.footer-container {
  padding-top: 1rem;
}

.copyright-container {
  padding: 1rem 0;
  margin-top: 1.3rem;
  border-top: 1px solid #d1d1d1;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 2rem 0 4rem;
  }
  .footer-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-flow: revert;
    margin: 0 auto;
    text-align: left;
  }
  .footer-logo {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
  }
}

@media screen and (min-width: 1024px) {}