.root {
  min-height: calc(100vh - 4.5rem);
  margin-top: 4.5rem;
  padding-bottom: 3rem;
  /*background-color: var(--color-primary-gray);*/
  background-color: white;
}

.white {
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .root {
    min-height: calc(100vh - 4rem);
    margin-top: 4rem;
    padding-bottom: 5rem;
  }
}
