.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid transparent;

}

.img-container {
    margin-bottom: 4px;
}


.image img {
    display: block;
    border-radius: 15px;
}

.content {
    border: 1px solid transparent;

}

.content h4 {
    margin-bottom: 7px;
}


.meta-container {
    flex-grow: 1;
    display: flex;
    align-items: center;
}


.avatar {
    width: 30px !important;
    height: 30px;
    border-radius: 100px;
    margin-right: 8px;
}


@media screen and (min-width: 768px) {
    .image img {
        height: 180px !important;
        width: 300px !important;
    }

}