.root {
  margin-top: 1rem;
  font-size: 16px;
  line-height: 1.6;
  color: var(--color-text);
}

.root h6,
.root h5,
.root h4,
.root h3,
.root h2,
.root h1 {
  line-height: 1.3;
  color: var(--color-title);
  font-family: var(--text-font);
  margin-bottom: 0.5em;
}

.root h3,
.root h2,
.root h1 {
  font-weight: 600;
}

.root h1 {
  font-size: 32px;
}

.root h2 {
  font-size: 26px;
}

.root h3 {
  font-size: 22px;
}

.root h4 {
  font-size: 18px;
}

.root h6,
.root h5 {
  font-size: 16px;
  font-weight: 500;
}

.root ul,
.root ol {
  /*background-color: #f5f7fa;*/
  border-radius: 10px;
  padding: 18px 19px;
}

.root p,
.root ol,
.root ul,
.root li {
  margin-bottom: 1.5em;
  margin-top: 0;
  line-height: 1.6;
  font-size: 16px;
  color: var(--color-text);
}

.root p {
  font-size: 16px !important;
}

.root ol:last-child,
.root ul:last-child,
.root li:last-child,
.root p:last-child {
  margin-bottom: 0;
}

.root a {
  color: var(--color-lightblue);
}

.root a:hover {
  text-decoration: underline;
}

.root blockquote,
.root q {
  display: block;
  margin: 1em;
  opacity: 0.8;
}

.root blockquote::before,
.root q::before {
  content: '" ';
}

.root blockquote::after,
.root q::after {
  content: ' "';
}

/* .root table {
  width: 100%;
  margin-bottom: 1.5rem;
  border: 1px solid currentColor;
  border-spacing: 0;
}

.root th, .root td {
  padding: 0.5em;
  border: 1px solid currentColor;
} */

.root table,
.root table.wp-block-table {
  width: 100%;
  text-align: left;
  margin: 1.5rem 0;
  padding: 0px;
  border: 1px solid #f5f7fa;
  box-shadow: 0px 0px 5px #00000010;
  border-spacing: 0;
}

.root table p,
.root table form,
.root table ul,
.root table li {
  margin: 6px 0px;
  padding: 0px;
}

.root table tbody tr:nth-child(odd) {
  background-color: #f5f7fa;
}

.root table td,
.root table.wp-block-table td {
  padding: 12px;
  margin: 0px;
  box-sizing: border-box;
}

.root table.wp-block-table.is-style-stripes {
  border-collapse: collapse;
}

@media screen and (min-width: 1024px) {
  .root {
    font-size: 16px;
  }

  .root h1 {
    margin-top: 48px;
    font-size: 48px;
  }

  .root h2 {
    margin-top: 32px;
    font-size: 32px;
  }

  .root h3 {
    margin-top: 24px;
    font-size: 24px;
  }

  .root h4 {
    font-size: 18px;
  }
}
