.root {
  margin-top: 0;
}

/* .root > #root-child-0 {
  padding-top: 0px !important;
}
.root > #root-child-1 {
  padding-top: 0px !important;
} */

/* .root-child:first-of-type {
  padding-top: 0px;
} */
